security:
    password_hashers:
        App\Entity\User: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/users_login
            stateless: true
            json_login:
                check_path: /users_login
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/
            stateless: true
            jwt: ~

  
    access_control:
        - { path: ^/users_login, roles: PUBLIC_ACCESS }
        - { path: ^/dish, roles: PUBLIC_ACCESS, methods: [GET] }   
        - { path: ^/users, roles: PUBLIC_ACCESS, methods: [POST] }
        - { path: ^/, roles: IS_AUTHENTICATED_FULLY }